.favorite-card {
  background-size: contain;
  height: 30rem;
  width: 20rem;
}

.favorites-container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  overflow: scroll;

}

.favorites-container button {
  width: 100%;
}
