.detail-card {
  background-size: contain;
  margin: 1rem auto;
  grid-column: 1;
  width: 80%;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 30rem;
}

.detail-text {
  color: #EEE;
  font-family: Helvetica;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  height: 60rem;
  background: linear-gradient(rgba(255, 255, 255, 0), #111 75%);
}
