.cardContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: start;
  margin-left: 2rem;
  overflow: scroll;
  padding-top: 3.5rem;
}

.movie-card {
  margin: 1rem;
}

.movie-image {
  background-size: contain;
  height: 15rem;
  width: 10rem;
}

.movie-card button {
  width: 100%; 
}

@media screen and (max-width: 800px) {

  .cardContainer {
    justify-content: space-evenly;
    margin: 0;
  }

}