.app {
  letter-spacing: .1em;
  text-align: center;
}

.app-header {
  background-color: #111;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
}

.favorite {
  box-shadow: inset 0 0 1em .5em #B9090B;
}

button {
  background-color: #B9090B;
  border: 0;
  color: #F3F3F3;
  font-size: 1em;
  font-weight: 100;
  padding: .5em;
}

@media screen and (max-width: 600px) {

    .app-header {
    background-color: #111;
    display: block;
    width: 100%;
  }

}

