.app {
  display: grid;
  grid-template-columns: 40% 60%;
  text-align: center;
  letter-spacing: .1em;
}

.app-header {
  grid-column: 1/3;
  background-color: white;
  position: sticky;
  height: 3rem;
}

.favorite {
  box-shadow: inset 0 0 1em .5em #B9090B;
}

button {
  color: #F3F3F3;
  background-color: #B9090B;
  border: 0;
  font-size: 1em;
  padding: .5em;
  font-weight: 100;
}