  
.navigation-links {
  display: inherit;
  list-style: none;
  margin-right: 2rem;
  text-align: right;
}

.app-header a {
  color: #F3F3F3;
  font-weight: 300;
  margin: .75rem;
  text-decoration: none;
}

.logo {
  height: 4rem;
  margin-left: 3rem;
  width: 12rem;
}

.user-name {
  font-weight: 300;
  color: white;
}

@media screen and (max-width: 600px) {

  .cardContainer {
    margin: 0 auto;
  }

  .navigation-links {
    margin: inherit 0 inherit 0;
    text-align: center;
  }

  ul { 
    padding: 0;
    margin-left: 1rem; 
  }

  li {
    display: inline;
  }

  .logo {
    margin-left: 0rem;
  }

}